@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #f9f9f9;
  font-weight: 400;
  user-select: none;
}

body {
  background: #121212;
  padding: 0;
  margin: 0;
}

.heading {
  font-size: 1.75rem;
  font-weight: 800;
}

.subheading {
  font-size: 1.4rem;
  font-weight: 600;
}

.hashtag {
  color: rgba(255, 0, 72, 0.82);
  font-size: 0.85rem;
}

.hint {
  color: #696969;
  font-weight: 400;
  font-size: 1rem;
}

.page {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

.page .top-bar {
  position: sticky;
  top: 0;
  left: 0;
  background: #121212;
}

.option {
  font-size: 1.1rem;
  border-top: 1px solid rgba(41, 43, 44, 1);
  border-bottom: 1px solid rgba(41, 43, 44, 1);
  margin: 0;

  padding: 1em 1em;

  transition: 0.15s ease-out;
}

.option:active,
.option:focus {
  background-color: rgba(41, 43, 44, 1);
}

.option.critical {
  color: rgba(248, 27, 31, 1);
}

.image-loader {
  background: linear-gradient(90deg, #696969 0%, #7d7d7d 20%, #696969 40%);
  background-size: 200% 100%;
  box-sizing: border-box;
  animation: shimmer 5s infinite;
  width: 100%;
  height: 100%;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
